<div class="container">
  <h1 class="title">Welcome to</h1>
  <h1 class="title"><span class="highlight">Secret Valentine!</span></h1>
  <p class="intro-text">Join the fun and spread the love with our Secret Valentine gift exchange.</p>

  <% if current_user %>
    <% if @match.present? %>
      <%= link_to "View Your Match 💌", match_path(current_user.received_match), class: "button" %>
    <% else %>
      <%= link_to "Find a Match 💖", new_match_path, class: "button" %>
    <% end %>
  <% else %>
    <%= link_to "Log In", new_user_session_path, class: "button" %>
  <% end %>
</div>
