<div id="<%= dom_id match %>">
  <p>
    <strong>Receiver:</strong>
    <% profile = Profile.find_by(user_id: current_user.received_match) %>
    <%= profile.name %>
  </p>

  <p>
    <strong>Me:</strong>
    <%= current_user.profile.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= match.status %>
  </p>

</div>
