<div id="<%= dom_id match %>">
  <p>
    <strong>Giver:</strong>
    <%= match.giver_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= match.receiver_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= match.status %>
  </p>

</div>
